.react-calendar__tile--now {
  background: #9900009c !important;
  color: white;
  border-radius: 8px;
}

.react-calendar__month-view__days__day--weekend{
  color: #990100 !important;
}

.react-calendar__tile--active {
  background: #006edccc !important;
  color: white !important;
  border-radius: 8px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus  {
  background-color: #e6e6e6;
}

.react-calendar__navigation {
  display: flex;
  height: 45px;
  margin-bottom: 1em;
}

.react-calendar{
  border-radius: 10px;
  background-color: #EDEDED !important;
  border: none !important;
}

.react-calendar__year-view .react-calendar__tile, 
.react-calendar__decade-view .react-calendar__tile, 
.react-calendar__century-view .react-calendar__tile {
    padding: 18.5px;
}